/** Site Inner
----------------------------------------------------------------------------- */
.site-inner {
	padding: 95px 0 30px;
	@include breakpoint($screen-sm) {
		padding: 95px 0 0;
		.home & {
			padding: 0px;
		}
	}

	.home & {
		padding-top: 0px 15px;
		@include breakpoint($screen-sm) {
			padding-top: 0px;
		}
	}

	@include breakpoint($screen-lg) {
	}
}

/** Sticky Footer
----------------------------------------------------------------------------- */
@include breakpoint($screen-sm) {
	$sticky-footer-height: 350px;
	$neg-sticky-footer-height: -350px;
	* {
		margin: 0;
	}
	html, body {
		height: 100%;
	}
	.site-container {
		min-height: 100%;
		/* equal to footer height */
		margin-bottom: $neg-sticky-footer-height;
	}
	.site-container:after {
		content: "";
		display: block;
	}
	.site-footer, .site-container:after {
		height: $sticky-footer-height;
	}
}

/* Text styling
--------------------------------------------------------------------------------*/

h1 {
	padding-bottom: 16px;
}

h2 {
	padding-bottom: 16px;
	font-size: 22px;
	small {
		font-size: 14px;
		vertical-align: middle;
	}
	@include breakpoint($screen-xs) {
		font-size: $font-size-h2;
	}
}
/** Footer Widgets
----------------------------------------------------------------------------- */
.footer-widgets {
	background: $gray-dark;
	border-bottom: 1px solid $gray-darker;
	color: $gray-lighter;
	padding: $line-height-computed*2 0;
	.widget {
		margin-bottom: $line-height-computed;
	}
	.widgettitle {
		@extend .h5;
		color: $gray-light;
		margin-bottom: $line-height-computed;
		text-transform: uppercase;
	}
	a {
		color: inherit;
		&:hover {
			color: $link-color;
		}	
	}
}

/** Site Footer
----------------------------------------------------------------------------- */
.site-footer {
	background: $navbar-inverse-bg;
	color: $gray-lighter;
	font-size: 14px;
	padding: $line-height-computed/2 0;
	p {
		margin-bottom: 0;
	}

	a {
		color: inherit;
		&:hover {
			color: $link-color;
		}	
	}
}

/* ## Skip Links
----------------------------------------------------------------------------- */
.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

strong {
	color: $headings-color;
}

.link-alt {
	@extend a;
	color: $link-alt-color;
	&:hover,
	&:active,
	&focus {
		color: $link-alt-hover-color;
		text-decoration: $link-alt-hover-decoration;
	}
}

.gem-breadcrumb {
	padding-top: 10px;
	padding-bottom: 30px;

	li {
		font-size: $font-size-base;
		display: inline;
	}
	a {
		color: $brand-primary;
	}
	li:last-child a {
	}
	a:after {
		content: "|";
		padding: 0px 16px;

	}
	text-transform: uppercase;

}

.post-edit-link {
	clear: both;
	display: block;
	text-align: right;
	color: $brand-primary;
}

